.home-page{
    background-color: #eee;
}

.home-page_content{
    width: 80%;
    margin: auto;
}

.home-page_top {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.home-page_bottom{
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
    min-height: 57vh;
}

.no-results {
    width: 100%;
}

.pagination-content {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: auto;
    align-items: center;
    padding-bottom: 5rem;
  }
  
  .prev-btn,
  .next-btn {
    cursor: pointer;
  }
  
  .light {
    color: #ccc;
  }
  
  @media only screen and (max-width: 1600px) {
   .home-page_bottom{
    gap: 3rem;
   }
  }

  @media only screen and (max-width: 1295px) {
    .home-page_bottom{
     gap: 2rem;
    }
   }


   @media only screen and (max-width: 750px) {
    .home-page_bottom{
     justify-content: center;
    }
    .home-page_top {
        flex-direction: column;
        align-items: baseline;
        height: 7rem;
    }
   }

   @media only screen and (max-width: 500px) {
    .home-page_top{
        height: 5rem;
    }
    .pagination-content{
        width: 50%;
    }
   }
 