.home-page{
    background-color: #eee;
}

.home-page_content{
    width: 80%;
    margin: auto;
}

.home-page_top {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.home-page_bottom{
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
}