.detail-container {
    /* padding-top: 3rem; */
    display: flex;
    background-color: #eee;
    height: 100vh;

}
.detail-content {
    margin: auto;
    width: 80%;
    height: 100vh;
}

.back-btn{
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
}

.back-btn:hover{
    font-weight: bold;
}
.back-btn a {
    display: flex;
    align-items: end;
    box-shadow: 1px 1px 2px 1px #ccc;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 2px;
    color: #000;
    text-decoration: none;
}
.back-btn img{
    height: 20px;
    margin-right: 5px;
}

.country-box{
    display: flex;
    gap: 6rem;
}

.country-flag {
    flex: 1;
}
.country-flag img {
    width: 100%;
    height: 100%;
}

.country-detail{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    
}

.country-stats{
    display: flex;
    gap: 1rem;
}
.column  {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.column p,
.column p strong {

    text-align: left;
}

.border-country {
    box-shadow: 1px 1px 2px 1px #ccc;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 2px;
    color: #000;
    text-decoration: none;
    margin: 1rem .5rem 0rem 0rem;
    cursor: pointer;
    background-color: #fff;
}

.border-country:hover{
  color: #989898;
}

.no-borders,
.border-country:nth-child(2){
    margin-left: 1rem;
}
.border-countries{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

@media only screen and (max-width: 1050px) {
    .country-box{
        gap: 3rem;
    }
   }

   @media only screen and (max-width: 870px) {
    .country-box{
        gap: 2rem;
    }
   }

   @media only screen and (max-width: 820px) {
    .detail-container{
        padding-bottom: 18rem;
    }
    .country-box{
        flex-direction: column;
        padding-bottom: 3rem;
     
    }
   }

   @media only screen and (max-width: 560px) {
     .country-stats{
        flex-direction: column;
     }
   }