.detail-container {
    margin-top: 3rem;
    display: flex;
}
.detail-content {
    margin: auto;
    width: 80%;
}

.back-btn{
    margin-bottom: 5rem;
    display: flex;
}
.back-btn a {
    display: flex;
    align-items: end;
    box-shadow: 1px 1px 2px 1px #ccc;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 2px;
    color: #000;
    text-decoration: none;
}
.back-btn img{
    height: 20px;
    margin-right: 5px;
}

.country-box{
    display: flex;
    gap: 6rem;
}

.country-flag {
    flex: 1;
}
.country-flag img {
    width: 100%;
    height: 100%;
}

.country-detail{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    
}

.country-stats{
    display: flex;
    gap: 1rem;
}
.column  {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.column p,
.column p strong {

    text-align: left;
}

.border-country {
    box-shadow: 1px 1px 2px 1px #ccc;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 2px;
    color: #000;
    text-decoration: none;
    margin: 1rem .5rem 0rem 0rem;
}

.no-borders,
.border-country:nth-child(2){
    margin-left: 1rem;
}
.border-countries{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}