.news-box {
    width: 40%;
}

.news-box h2 {
    margin: 0 0 1rem 0;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
}

.news-content {
    height: 30rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

.news-content a {
    text-decoration: none;
    color: #000;
}

.news-card {
    padding: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    word-break: break-all;
    background-color: #f0eded;
        height: 100px;
        margin-top: 1rem;
        position: relative;
        color: #635f5f;
    overflow: auto;
}

.news-card h3 {
    margin: 0;
    font-size: 1rem;
    text-align: left;
    font-weight: 100;
        line-height: 1.2rem;
}

.news-card p {
    margin-bottom: 3px;
}
.news-card img {
    height: 2rem;
    width: 5rem;
    display: flex;
    align-self: flex-end;
    margin-bottom: .3rem;
}
@media only screen and (max-width: 1050px) {
    .news-box {
        width: unset;
        margin-bottom: 3rem;
    }
}